/technical_validation/.Rproj.user
technical_validation/.Rhistory
technical_validation/.RData
/technical_validation/.ipynb_checkpoints
/.ipynb_checkpoints
solo_dataframe.pkl
/__pycache__
technical_validation/combine_df.ipynb
